@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.leftSection, .rightSection {
  opacity: 0; /* Set initial opacity to 0 */
  animation: fadeIn 1s ease-in forwards;
  margin: 3%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: none;
  height: 100%;
  margin-bottom: 0;
  position: relative; /* Ensure absolute positioning for pseudo-element */
}

.main {
  flex: 1;
  display: flex;
  flex-direction: row; /* Align left and right sections side by side */
  justify-content: space-between;
  padding: 5%;
  margin-bottom: 0;
  position: relative; /* Ensure relative positioning for content */
  z-index: 2; /* Ensure content stays above pseudo-element */
}

.leftSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 30%;
  height: 100%;
  z-index: 2; /* Ensure content stays above pseudo-element */
  padding: 5%;
  border-radius: 3%;
  background: rgba(164, 207, 173, 0.32); /* Green background with transparency */;
}

.rightSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: none;
  border-radius: 10px;
  z-index: 2; /* Ensure content stays above pseudo-element */
  animation-delay: 0.3s;
  padding: 1%;
}

.GetInTouch {
  color: #a4cfad;
  font-family: Bungee, var(--default-font-family);
  font-size: calc(1.5rem + 1.7vw);
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #a4cfad;
  display: flex;
}

.readyToMaster {
  color: #000;
  font-family: Montserrat;
  font-size: calc(1rem + 0.5vw);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 1;
  margin-top: 5%;
  margin-bottom: 0%;
}

.arrow {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  width: 100%; /* Ensure the container takes full width */
  margin-top: 10%;
}

.scrollArrow1, .scrollArrow2 {
  width: 25% !important;
  height: auto;
}

.form {
  width: 100%;
}

.fieldGroup {
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.fieldSubGroup {
  flex: 1;
  margin-right: 10px;
}

.fieldSubGroup:last-child {
  margin-right: 0;
}

.names {
  color: #000;
  font-family: Montserrat;
  font-size: calc(0.9rem + 0.4vw);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Srequired {
  color: #777;
  font-family: Montserrat;
  font-size: calc(0.8rem + 0.3vw);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.label {
  color: #000;
  font-family: Montserrat;
  font-size: calc(1.1rem + 0.5vw);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.labelName {
  color: #000;
  font-family: Montserrat;
  font-size: calc(1.1rem + 0.5vw);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.required {
  color: #777;
  font-family: Montserrat;
  font-size: calc(0.9rem + 0.4vw);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input, .textarea {
  width: 100%;
  padding: 5px;
  font-size: calc(1rem + 0.4vw);
  border: 1px solid #000000;
  border-radius: 16px;
  font-family: Montserrat, var(--default-font-family);
  background: none;
}

.textarea {
  height: 100px;
  resize: vertical;
  background: none;
}

.submitButton {
  padding: 15px 20px;
  font-size: calc(1rem + 0.5vw);
  font-family: Montserrat, var(--default-font-family);
  color: #fff;
  background-color: rgba(164, 207, 173, 0.67);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  stroke-width: 1px;
  stroke: rgba(164, 207, 173, 0.67);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.submitButton:hover {
  background-color: #104114;
}

/* Responsive Design */

/* Large screens (desktops) */
@media (min-width: 1024px) {
  .main {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Medium screens (tablets) */
@media (max-width: 1024px) {
  .main {
    flex-direction: column;
    padding: 60px;
    align-items: center;
  }

  .leftSection {
    width: 100%;
    margin: 0;
    padding: 20px;
  }

  .readyToMaster {
    font-size: calc(1rem + 0.8vw);
  }

  .arrow {
    display: none; /* Hide arrows on smaller screens */
  }
}

/* Small screens (large smartphones) */
@media (max-width: 768px) {
  .readyToMaster {
    font-size: calc(1rem + 0.5vw);
  }
}

/* Extra small screens (small smartphones) */
@media (max-width: 600px) {
  .main {
    flex-direction: column;
    padding: 40px;
  }

  .readyToMaster {
    font-size: calc(1rem + 0.5vw);
  }

  .arrow {
    display: none; /* Hide arrows on smaller screens */
  }
}
