/* Define the keyframes for the fade-in animation */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .exploreNix, .text, .babyLizard, .backButton {
      opacity: 0; /* Set initial opacity to 0 */
      animation: fadeIn 1s ease-in forwards;
  }
  
  .container {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      background: none;
  }
  
  .main {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 5%;
  }
  
  .exploreNix {
      color: #A4CFAD;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      -webkit-text-stroke-width: 1;
      -webkit-text-stroke-color: #A4CFAD;
      font-family: "Bungee";
      font-size: calc(1.5rem + 2vw); /* Responsive font size */
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 5%;
      width: 120%;
      animation-delay: 0s; /* Delay for staggered effect */
  }
  
  .text {
      color: #000;
      font-family: Montserrat;
      font-size: calc(1rem + 0.5vw); /* Responsive font size */
      font-style: normal;
      font-weight: 200;
      line-height: normal;
      animation-delay: 0.3s; /* Delay for staggered effect */
  }
  
  .leftSection {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 35%;
      height: 100%;
      margin-left: 40px;
      margin-right: 20px;
  }
  
  .rightSection {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: none;
      padding: 30px;
      border-radius: 10px;
      margin-left: 60px;
  }

  .babyLizard {
    animation-delay: 0.6s; /* Delay for staggered effect */
  }
  
  .buttonWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3%;
  }
  
  .backButton {
      padding: 15px 20px;
      font-size: calc(1rem + 0.7vw); /* Responsive font size */
      font-family: Montserrat, var(--default-font-family);
      color: #fff;
      background-color: rgba(164, 207, 173, 0.67);
      border: none;
      border-radius: 15px;
      cursor: pointer;
      transition: background-color 0.3s;
      stroke-width: 1px;
      stroke: rgba(164, 207, 173, 0.67);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      justify-content: center;
      animation-delay: 0.9s; /* Delay for staggered effect */
  }
  
  .backButton:hover {
      background-color: #104114;
  }
  
  /* Large screens (desktops) */
  @media (min-width: 1024px) {
      .main {
          flex-direction: row;
      }
  }
  
  /* Medium screens (tablets) */
  @media (max-width: 1024px) {
      .main {
          flex-direction: row;
          align-items: center;
          padding: 3% 10%;
      }
  
      .leftSection, .rightSection {
          width: 50%;
          margin-left: 0;
          margin-right: 0;
          padding: 10px;
      }
  
      .rightSection {
          order: 1; /* Move the image above the text */
      }
  
      .babyLizard {
          width: 100%;
          max-width: 442px;
          height: auto;
          margin: 8%;
      }
  
      .exploreNix {
          width: 100%;
          text-align: left;
      }
  
      .text {
          text-align: left;
      }
  }
  
  /* Small screens (large smartphones) */
  @media (max-width: 768px) {
      .main {
          flex-direction: column;
          align-items: center;
          padding: 5%;
      }
  
      .exploreNix {
          font-size: 30px;
      }
  
      .text {
          font-size: 20px;
      }
  
      .leftSection, .rightSection {
          width: 80%;
          margin-left: 0;
          margin-right: 0;
          padding: 10px;
      }
  }
  
  /* Extra small screens (small smartphones) */
  @media (max-width: 600px) {
      .main {
          padding: 5%;
      }
  
      .exploreNix {
          font-size: calc(1rem + 2vw);
      }
  
      .text {
          font-size: calc(0.8rem + 0.4vw);
      }
  }
  