@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes slidein {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(100%);
    }
  }

.container {
    width: 100%;
    background: linear-gradient(
      to bottom,
      rgba(160, 196, 232, 0.429) 0%,
      rgba(250, 226, 116, 0.429) 30%,
      rgba(160, 196, 232, 0.6) 100%
    );
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    text-align: center;
    flex: 1;
}
  
.titleTrapped {
    font-family: 'Bungee', var(--default-font-family);
    font-size: calc(1.5rem + 1.5vw);
    color: #000000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px #000000;
    margin-top: -5%;
    margin-bottom: 3%;
    text-align: center;
    font-weight: 400;
    line-height: normal;
    max-width: 100%;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 0s;
}
  
.sections {
    display: flex;
    justify-content: center;
    flex: 1;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 0.3s;
}
  
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    margin-top: 3%;
}
  
.circle {
    width: 80% !important;
    height: auto;
    background: rgba(128, 128, 128, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
  
.sectionTitle {
    font-family: 'Montserrat', var(--default-font-family);
    font-size: calc(1.5rem+1.5vw);
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
    text-align: center; /* Ensure the text is centered */
}
  
.sectionDescription {
    font-family: 'Montserrat', var(--default-font-family);
    color: #000;
    font-size: calc(1.3rem+1.3vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center; /* Ensure the text is centered */
    width: 90%;
}
  
.scrollArrow1 {
    cursor: pointer;
    width: 12% !important;
    height: aut0;
    min-width: 100px;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 0.6s;
    margin: 5% 0%;
}
  
.arrowWrapper {
    align-items: center;
    justify-items: center;
}
  
.page1, .page2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.page1 {
    padding: 0% 5%;
}
  
/*page2 content here*/
.titleBetter {
    color: #9FC4E8;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #9FC4E8;
    font-family: Bungee;
    font-size: calc(2rem + 2vw);;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 2%;
    margin-top: 3%;
    animation: fadeIn 1s ease-in forwards;
}

.textSave, .pullUp {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: calc(1rem + 1vw);;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    animation: fadeIn 1s ease-in forwards;
}

.seal, .chick, .fox, .turtle {
    width: 10% !important;
    height: auto;
    margin: 2%;
    animation: fadeIn 1s ease-in forwards;
}

.row1, .row2, .row3, .row4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row1 {
    margin-top: 3%;
}

.box2, .box3, .box4, .box5, .box6 {
    width: 50%;
    padding: 5%;
    animation: slideIn 1s ease-in forwards;
}

.box2, .box3, .box6 {
    text-align: left;
    background: rgba(255, 255, 255, 0.30);
}

.box1 {
    background: rgba(160, 196, 232, 0.80);
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    position: relative;
}

.box4 {background: rgba(248, 216, 81, 0.30);}
.box5 {background: rgba(164, 207, 173, 0.32);}

.box4, .box5 {
    display: flex;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    margin-top: -40%;
    width: 90%;
}

.sTitle1, .sTitle2, .sTitle3 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1;
    font-family: Bungee;
    font-size: calc(1rem + 1vw);;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 2%;
}

.sTitle1 {color: #9FC4E8; -webkit-text-stroke-color: #699ABA;}
.sTitle2 {color: #FDE57E; -webkit-text-stroke-color: #F2DF91;}
.sTitle3 {color: #A4CFAD; -webkit-text-stroke-color: #C7ECCF;}

.text1, .text2, .text3 {
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: calc(0.8rem + 0.8vw);;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 2%;
}

.mascotsWrapper {
    margin: 1%;
    position: relative;
    margin-bottom: 3%;
}

.imageWrapper {
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 2;
    margin-bottom: 5%;
}
  
.leftArrow, .rightArrow {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30%;
}

.leftArrow1, .rightArrow1 {
    width: 100% !important;
    height: auto;
    min-width: 50px;
}
  
.screenshot {
    transition: transform 1s ease-in-out; /* Smoother transitions */
}
  
.screenContainer {
    position: absolute;
    width: 88%; /* Adjusted width to fit inside the frame */
    height: 95%; /* Adjusted height to fit inside the frame */
    overflow: hidden;
    border-radius: 50px;
    z-index: 1;
}
  
.iphoneFrame {
    z-index: 2;
}

.multipleStyles {
    width: 100% !important;
    height: auto;
}

.multipleDevices {
    width: 100% !important;
    height: auto;
}

/*Price Section*/
.row4 {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: center;
}

.title1 {
    font-size: calc(1.3rem+1.3vw);
}
  
.frame1, .frame2, .frame3 {
    width: auto;
    height: auto;
    flex-shrink: 10;
    border-radius: 46px;
    border: 6px solid #699ABA;
    background: rgba(255, 255, 255, 0.90);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    font-family: Montserrat;
    font-size: calc(1rem+1vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 2%;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
}
  
.frame1 ul, .frame2 ul, .frame3 ul {
    list-style-type: none; /* Remove default list icons */
    text-align: left;
    margin: 1%;
    line-height: 1.6;
}
  
.price {
    border-radius: 28px;
    border: 3px solid #699ABA;
    opacity: 0.66;
    background: #FFF;
    color: #000;
    font-family: Montserrat;
    font-size: calc(1rem + 1vw);;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 2%;
    margin: 5%;
    margin-top: 10%;
}
  
.month {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: calc(0.8rem + 0.8vw);;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
  
.registerButton {
    background-color: #9FC4E8;
    color: #FFF;
    padding: 2%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: calc(0.8rem + 0.8vw);;
    font-family: Montserrat;
    text-align: center;
    transition: background-color 0.3s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 3%; /* Adjust margin between the button and the image */
}
  
.registerButton:hover {
    background-color: #2e4472;
}
  
  /* Add transition effect to the arrows */
  .scrollArrow1, .leftArrow, .rightArrow {
    transition: transform 0.2s ease;
  }
  
  /* Enlarge the arrows on hover */
  .scrollArrow1:hover, .leftArrow:hover, .rightArrow:hover{
    transform: scale(1.1);
  }
  
  /* Enlarge the arrows on active (click) */
  .scrollArrow1:active, .leftArrow:active, .rightArrow:active{
    transform: scale(1.1);
  }
  
  @media (max-width: 1024px) {
    .title {
      font-size: calc(1rem + 1vw);
    }
  
    .sectionTitle {
      font-size: calc(0.5rem+0.5vw);
    }

    .sectionDescription {
        font-size: calc(0.4rem+0.4vw);
    }

    .row1, .row2, .row3, .row4 {
        flex-direction: column;
    }

    .row4 {
        align-items: center;
    }

    .box1, .box2, .box3, .box4, .box5, .box6 {
        width: 100%;
    }

    .box3, .box6 {
        order: 1;
    }

    .box4, .box5 {
        justify-content: center;
    }

    .title1 {
        font-size: calc(2rem+2vw);
    }

    .frame1, .frame2, .frame3 {
        width: 60%;
        font-size: calc(2rem+2vw);
    }

    .wrapper {
        margin-top: 5%;
        margin-bottom: -30%;
    }
      
    .leftArrow, .rightArrow {
        margin-bottom: 30%;
    }
    
    .multipleStyles {
        width: 80% !important;
    }
    
    .multipleDevices {
        width: 80% !important;
    }
      
    .price {
        font-size: calc(1.3rem + 1.3vw);
    }
      
    .month {
        font-size: calc(1rem + 1vw);;
    }

    .scrollArrow1 {
        width: 30% !important;
    }
  }
  
  @media (max-width: 768px) {
    .main {
        padding-top: 10%;
    }

    .sections {
        flex-direction: column;
        align-items: center;
    }

    .section {
        width: 50%;
    }

    .iphoneFrame {
        width: 400px !important;
        height: auto;
    }
  }
  
  @media (max-width: 600px) {
    .titleTrapped {
        font-size: 6vw;
    }

    .section {
        width: 70%;
        margin-bottom: 3%;
    }

    .sectionTitle {
        font-size: 4vw;
    }

    .sectionDescription {
        font-size: 3vw;
    }

    .scrollArrow1 {
        margin-top: 20%;
        min-width: 60px;
        height: auto;
    }

    .titleBetter {
        font-size: 7.5vw;
    }

    .page2 {
        padding-top: 5%;
    }

    .textSave, .pullUp {
        font-size: 4vw;
    }

    .registerButton {
        border-radius: 10px;
    }

    .iphoneFrame {
        width: 200px !important;
        height: auto;
    }

    .screenContainer {
        overflow: hidden;
        border-radius: 40px;
    }

    .wrapper {
        margin-top: 5%;
        margin-bottom: -30%;
    }
      
    .leftArrow, .rightArrow {
        margin-bottom: 10%;
    }

    .leftArrow1, .rightArrow1 {
        min-width: 20px;
        height: auto;
    }
}