/* Base styles for all devices */
.mainContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 97%;
  height: 62px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 10px;
  border-radius: 20px; /* Optional: Rounded corners for the header */
}

.rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background: #d9d9d9;
  border-radius: 20px;
}

.nixLogo {
  cursor: pointer;
  color: #000000;
  font-family: Nunito, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  background: transparent;
  border: none;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: auto;
}

.signUp, .contact, .home, .menu {
  color: #000000;
  font-family: Nunito, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
}

.menuIcon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  margin-left: auto;
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
  }

  .menuIcon {
    display: block;
  }
}

/* Show the menu when toggled */
.navLinks.show {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  top: 60px;
  right: 20px;
  background: rgb(222, 222, 222);
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  z-index: 3;
  font-size: calc(0.7rem + 0.3vw);
}
